*, *::before, *::after {
    box-sizing: border-box;
}
.container {
    text-align: center;
    margin: auto;
    width: 900px;
}
.header-right {
    text-align: right;
}
.hide {
    display: none;
}
#highScores {
    text-align: left; 
    padding-left: 10%; 
    padding-top: 10px;
}
#time {
    text-align: center;    
}